{% extends 'main.html' %}

{% block content %}
<div id="main" class="site-main ">
	<div class="main_inner">
							<div class="page-title shop-page-title">
						<div class="page-title-inner theme-container">
							<a href="/" rel="nofollow">Home</a>							<h1 class="entry-title-main shop-entry-title-main">
								All Blog							</h1>
							<div class="breadcrumb-inner">Reading not only improves your vocabulary but also assists you in gaining a fresh perspective.</div>
						</div>
					</div>
			
			<div class="main-content-inner theme-container full-width">
						
												<div class="main-content-blog">
	<div id="treaco-blog" class="treaco-blog blog-page animate__animated animate__fadeInUp">
	   		<div class="theme-container">			
				<div id="content">
				<div class="row padding-full-layout"> 

												<div id="primary" class="contents-sticky  col-sm-8 col-md-12 col-lg-9-full full-layout">
							<div class="row main-blog-page">            
																								<div class="blog-post-content col-sm-3 col-xs-12 mvb">

																									{% for blog in blogs %}														
									<article class="post-1270 post type-post status-publish format-standard has-post-thumbnail hentry category-machine">
										<div class="blog-item">
											<div class="blog-img">
											   <a href="#">
												<img class="gofjl" src="{{ blog.imageURL }}" alt="blog"/></a>
												<span class="btm-catagory">
													                                                     
																  <span class="tag-line">
																	<a href="#" rel="category tag">{{blog.category.name}}</a></span> 
																										  </span>
											</div><!-- .blog-img -->
										 
										<div class="full-blog-content">
										  <div class="title-wrap">
											
											  <h3 class="blog-title">
													  <a href="{% url 'blog-data' blog.id %}">
														  {{blog.title}}												  </a>
												  </h3>
										  
											<div class="meta-categories-wrapp">
													  
											</div>
											  </div>
											  <div class="blog-dt-main">
												<div class="blog-meta">
														
																	  <div class="author">
																		<img alt='' src='https://secure.gravatar.com/avatar/c961f1110752c66e6cdb251ee0e980db?s=96&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/c961f1110752c66e6cdb251ee0e980db?s=192&#038;d=mm&#038;r=g 2x' class='avatar avatar-96 photo' height='96' width='96' loading='lazy' decoding='async'/>																		WorkDo																		 <div class="meta-inner"><span class="comments-link"> <i class="fa fa-comment-o"></i><a href="https://themes.workdo.io/wordpress/toaster/books/learn-once-read-everywhere/#respond">Comment</a></span></div>																		</div>
																  											  
													</div>
													<div class="blog-date">                                                  
														<div class="blog_day">27</div> 
														<div class="blog_month">May</div>
														<div class="blog_year">23</div>
													</div> 
												</div>
												<div class="blog-desc">   
															{{blog.description}} 	</div>

																										<div class="blog-button ">
															<a href="{% url 'blog-data' blog.id %}" class="fds">
																Read More<svg><use xlink:href="#arrowright"></svg>
															</a>
														</div>
																							  										</div>
									  </div>
									  
									</article>
									{% endfor %}
								</div>
							</div>
								
														<div class="blog-post-content col-sm-3 col-xs-12">

								
							</div>
							
							<div class="pagination-area">
								{% include 'pagination.html' with queryset=blogs custom_range=custom_range %}
															</div>
													</div>
											</div>
				</div>
		</div>
	</div>
	</div><!-- .main-content-inner -->
</div><!-- .main_inner -->
</div><!-- #main -->
<style>


		@media only screen and (min-width: 360px) {
			.mvb{
				display: grid;
				 grid-template-columns:repeat(3, 80px);
				  grid-gap:40px;
			}
			.gofjl{
				min-width: 80px;
				max-width: 81px;
				min-height: 80px;
				max-height: 81px;
			}
			.fds{
				min-width: 80px;
				max-width: 81px;
				min-height: 20px;
				max-height: 30px;
				
			}
		}
		@media only screen and (min-width: 500px) {
			.mvb{
				display: grid;
				 grid-template-columns:repeat(3, 120px);
				  grid-gap:60px;
			}
			.gofjl{
				min-width: 100px;
				max-width: 101px;
				min-height: 100px;
				max-height: 101px;
			}
			.fds{
				min-width: 90px;
				max-width: 91px;
				min-height: 30px;
				max-height: 40px;
				
			}
		}
		@media only screen and (min-width: 760px) {
			.mvb{
				display: grid;
				 grid-template-columns:repeat(3, 200px);
				grid-gap: 70px;
			
			}
			.gofjl{
				min-width: 2%;
				max-width: 201px;
				min-height: 200px;
				max-height: 201px;
			}
			.fds{
				min-width: 150px;
				max-width: 151px;
				min-height: 40px;
				max-height: 41px;
				
			}
		}
		@media only screen and (min-width: 992px) {
			.mvb{
				display: grid;
				 grid-template-columns:repeat(3, 250px);
				  grid-gap:100px;
			}
			.gofjl{
				min-width: 250px;
				max-width: 251px;
				min-height: 250px;
				max-height: 251px;
			}
			.fds{
				min-width: 150px;
				max-width: 151px;
				min-height: 40px;
				max-height: 41px;
				
			}
		}
		@media only screen and (min-width: 1300px) {
			.mvb{
				display: grid;
				 grid-template-columns:repeat(3, 350px);
				  grid-gap:150px;
			}
			.gofjl{
				min-width: 350px;
				max-width: 351px;
				min-height: 350px;
				max-height: 351px;
			}
			.fds{
				min-width: 170px;
				max-width: 171px;
				min-height: 40px;
				max-height: 41px;
				
			}
		}
		@media only screen and (max-width: 280px) {
		
		}
</style>
{% endblock content %}