
<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Books WorkDo	</title>
	<atom:link href="https://themes.workdo.io/wordpress/toaster/books/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://themes.workdo.io/wordpress/toaster/books</link>
	<description></description>
	<lastBuildDate>Mon, 26 Jun 2023 04:08:03 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		Comment on The Magic Of Thinking Big by Ac Shah		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/the-magic-of-thinking-big/#comment-17</link>

		<dc:creator><![CDATA[Ac Shah]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=79#comment-17</guid>

					<description><![CDATA[very good]]></description>
			<content:encoded><![CDATA[<p>very good</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Magic Of Thinking Big by Ac Shah		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/the-magic-of-thinking-big/#comment-16</link>

		<dc:creator><![CDATA[Ac Shah]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=79#comment-16</guid>

					<description><![CDATA[Very High quality product]]></description>
			<content:encoded><![CDATA[<p>Very High quality product</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Magic Of Thinking Big by Abnezer		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/the-magic-of-thinking-big/#comment-15</link>

		<dc:creator><![CDATA[Abnezer]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=79#comment-15</guid>

					<description><![CDATA[Completely satisfied with the product quality]]></description>
			<content:encoded><![CDATA[<p>Completely satisfied with the product quality</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Magic Of Thinking Big by admin		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/the-magic-of-thinking-big/#comment-14</link>

		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=79#comment-14</guid>

					<description><![CDATA[nice]]></description>
			<content:encoded><![CDATA[<p>nice</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Rich Dad Poor Dad by Admin		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/rich-dad-poor-dad/#comment-13</link>

		<dc:creator><![CDATA[Admin]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=76#comment-13</guid>

					<description><![CDATA[Be the first to review]]></description>
			<content:encoded><![CDATA[<p>Be the first to review</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Light on Lifes Difficulties by admin		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/light-on-lifes-difficulties/#comment-6</link>

		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=70#comment-6</guid>

					<description><![CDATA[nice]]></description>
			<content:encoded><![CDATA[<p>nice</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Share Market ke Success Mantra by Romit Sachani		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/share-market-ke-success-mantra/#comment-5</link>

		<dc:creator><![CDATA[Romit Sachani]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=68#comment-5</guid>

					<description><![CDATA[Your email address will not be published. Required fields are marked *]]></description>
			<content:encoded><![CDATA[<p>Your email address will not be published. Required fields are marked *</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Spooky Stories by admin		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/product/spooky-stories/#comment-4</link>

		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?post_type=product&#038;p=65#comment-4</guid>

					<description><![CDATA[nice]]></description>
			<content:encoded><![CDATA[<p>nice</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Default Kit by A WordPress Commenter		</title>
		<link>https://themes.workdo.io/wordpress/toaster/books/?elementor_library=default-kit-2-2-2-2-2-2/#comment-2</link>

		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Sat, 27 May 2023 05:15:27 +0000</pubDate>
		<guid isPermaLink="false">https://pixeltemplate.com/wordpress/demo/?elementor_library=default-kit#comment-2</guid>

					<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=\&quot;https://gravatar.com\&quot; rel=\&quot;nofollow ugc\&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
			<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href=\"https://gravatar.com\" rel=\"nofollow ugc\">Gravatar</a>.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
