
{% extends 'main.html' %}

{% block content %}
   <body>
      <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
    <main>
        <!-- page-banner-area-start -->
        <div id="main" class="site-main ">
            <div class="main_inner">
                              <div class="page-title shop-page-title">
                           <div class="page-title-inner theme-container">
                              <a href="/" rel="nofollow">Home</a>							<h1 class="entry-title-main shop-entry-title-main">
                                Wishlist							</h1>
                              
                           </div>
                        </div>
        <!-- page-banner-area-end -->

        <!-- cart-area-start -->
        <section class="cart-area pb-120 pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                       
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in wishItems %}
                                        <tr>
                                            <td class="product-thumbnail"><a href="{% url 'single-book' item.id %}"><img style="max-width: 50px;" src="{{item.image.url}}" alt=""></a></td>
                                            <td class="product-name"><a href="{% url 'single-book' item.id %}">{{item.name}}</a></td>
                                            <td class="product-price"><span class="amount">{{item.price}}</span></td>
                                            <td class="product-quantity">
                                                <a href="{% url 'add-cart' item.id %}" class="tp-btn-h1">Add To Cart</a>
                                            </td>

                                            <td class="product-remove"><a href="{% url 'rem-wish' item.id %}"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
         <!-- cart-area-end -->
    </main>
   </body>
</html>
{% endblock content %}
