{% extends 'main.html' %}

{% block content %}
<div id="main" class="site-main ">
	<div class="main_inner">
							<div class="page-title shop-page-title">
						<div class="page-title-inner theme-container">
							<a href="/" rel="nofollow">Home</a>&nbsp;&nbsp;&#187;&nbsp;&nbsp;FAQ&#8217;s							<h1 class="entry-title-main shop-entry-title-main">
								FAQ&#8217;s							</h1>
							<div class="breadcrumb-inner">Reading not only improves your vocabulary but also assists you in gaining a fresh perspective.</div>
						</div>
					</div>
			
			<div class="main-content-inner theme-container full-width">
						
											
<div id="main-content" class="main-content full-width box-page ">
<div id="primary" class="content-area col-sm-12 col-md-9 col-sm-8">

	<div id="content" class="site-content" role="main">
      <article id="post-1033" class="post-1033 page type-page status-publish hentry">
		<div class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="1033" class="elementor elementor-1033">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-bb1bf38 faq_section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bb1bf38" data-element_type="section" data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8d6509a" data-id="8d6509a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-272b2bf elementor-widget elementor-widget-wt_our_title" data-id="272b2bf" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_our_title.default">
				<div class="elementor-widget-container">
			    <div class="workdo_both_title">
      <div class="workdo_">
        <div class="workdo_title">
          <h2>About shop</h2>
        </div>
        <div class="workdo_content">
          <h4></h4>
        </div>
      </div>
    </div>
    		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-a52380c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a52380c" data-element_type="section" data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-30ff3e5" data-id="30ff3e5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a1d3f0a elementor-widget elementor-widget-wt_accordion" data-id="a1d3f0a" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-a1d3f0a" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-a1d3f0a">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-7789e07 elementor-widget elementor-widget-wt_accordion" data-id="7789e07" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-7789e07" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-7789e07">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-ee1f7a1 elementor-widget elementor-widget-wt_accordion" data-id="ee1f7a1" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-ee1f7a1" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-ee1f7a1">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-360e34b elementor-widget elementor-widget-wt_accordion" data-id="360e34b" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-360e34b" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-360e34b">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c1126aa" data-id="c1126aa" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0f6e454 elementor-widget elementor-widget-wt_accordion" data-id="0f6e454" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-0f6e454" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-0f6e454">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-9c356fd elementor-widget elementor-widget-wt_accordion" data-id="9c356fd" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-9c356fd" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-9c356fd">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-2e63010 elementor-widget elementor-widget-wt_accordion" data-id="2e63010" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-2e63010" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-2e63010">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-801143d elementor-widget elementor-widget-wt_accordion" data-id="801143d" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-801143d" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-801143d">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-786ae6f" data-id="786ae6f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1f01f20 elementor-widget elementor-widget-wt_accordion" data-id="1f01f20" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-1f01f20" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-1f01f20">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-2d50491 elementor-widget elementor-widget-wt_accordion" data-id="2d50491" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-2d50491" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-2d50491">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-093aa88 elementor-widget elementor-widget-wt_accordion" data-id="093aa88" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-093aa88" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-093aa88">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-699f96f elementor-widget elementor-widget-wt_accordion" data-id="699f96f" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-699f96f" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-699f96f">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-40d7a12 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="40d7a12" data-element_type="section" data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f271774" data-id="f271774" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fc4b7cd elementor-widget elementor-widget-spacer" data-id="fc4b7cd" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.15.0 - 02-08-2023 */
.elementor-column .elementor-spacer-inner{height:var(--spacer-size)}.e-con{--container-widget-width:100%}.e-con-inner>.elementor-widget-spacer,.e-con>.elementor-widget-spacer{width:var(--container-widget-width,var(--spacer-size));--align-self:var(--container-widget-align-self,initial);--flex-shrink:0}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container,.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer,.e-con>.elementor-widget-spacer>.elementor-widget-container,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer{height:100%}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner{height:var(--container-widget-height,var(--spacer-size))}</style>		<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-815a2d3 faq_section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="815a2d3" data-element_type="section" data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-df872c1" data-id="df872c1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fefd6e4 elementor-widget elementor-widget-wt_our_title" data-id="fefd6e4" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_our_title.default">
				<div class="elementor-widget-container">
			    <div class="workdo_both_title">
      <div class="workdo_">
        <div class="workdo_title">
          <h2>About shop</h2>
        </div>
        <div class="workdo_content">
          <h4></h4>
        </div>
      </div>
    </div>
    		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-10bc0bf elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="10bc0bf" data-element_type="section" data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-aa91786" data-id="aa91786" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-85d85a2 elementor-widget elementor-widget-wt_accordion" data-id="85d85a2" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-85d85a2" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-85d85a2">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-0900142 elementor-widget elementor-widget-wt_accordion" data-id="0900142" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-0900142" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-0900142">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-91631c0 elementor-widget elementor-widget-wt_accordion" data-id="91631c0" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-91631c0" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-91631c0">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-921a925 elementor-widget elementor-widget-wt_accordion" data-id="921a925" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-921a925" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-921a925">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fd3324b" data-id="fd3324b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-48eb9f7 elementor-widget elementor-widget-wt_accordion" data-id="48eb9f7" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-48eb9f7" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-48eb9f7">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-612020f elementor-widget elementor-widget-wt_accordion" data-id="612020f" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-612020f" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-612020f">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5c82433 elementor-widget elementor-widget-wt_accordion" data-id="5c82433" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-5c82433" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-5c82433">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-86b0869 elementor-widget elementor-widget-wt_accordion" data-id="86b0869" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-86b0869" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-86b0869">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8af6594" data-id="8af6594" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b71ea61 elementor-widget elementor-widget-wt_accordion" data-id="b71ea61" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-b71ea61" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-b71ea61">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-0cd4fea elementor-widget elementor-widget-wt_accordion" data-id="0cd4fea" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-0cd4fea" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-0cd4fea">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5f7bd9b elementor-widget elementor-widget-wt_accordion" data-id="5f7bd9b" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-5f7bd9b" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-5f7bd9b">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-82f2e1d elementor-widget elementor-widget-wt_accordion" data-id="82f2e1d" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="wt_accordion.default">
				<div class="elementor-widget-container">
					<div class="wt-accordion-main" id="wt-accordion-82f2e1d" >
			<div class="wt-accordion toggle style1" >			
				<div class="single_toggle toogle_div">
					<div class="toggle-title"><span class="icon"></span>How to setup a page with custom fields?</div>
					<div class="tab_content wt-accordion-82f2e1d">By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</div>
				</div>
			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
				<div class="inner-container">
				</div>
	<!-- .inner-container -->
</div>
<!-- .entry-content -->
</article>
<!-- #post-## -->			            </div> <!-- #content -->
  </div> <!-- #primary -->
	<div id="secondary" class="left-col col-md-3 col-sm-4 col-lg-3">
                        <div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
                          <aside id="recent-posts-3" class="widget widget_recent_entries">            <h3 class="widget-title">Recent Posts</h3>            <ul>
                            <li>
                	<span class="recent-posts-thumbnail"> 
	                <img width="330" height="200" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20330%20200'%3E%3C/svg%3E" class="attachment-wntr-small-thumb size-wntr-small-thumb wp-post-image" alt="" decoding="async" data-lazy-src="https://themes.workdo.io/wordpress/toaster/books/wp-content/uploads/2023/02/7-330x200.jpg" /><noscript><img width="330" height="200" src="https://themes.workdo.io/wordpress/toaster/books/wp-content/uploads/2023/02/7-330x200.jpg" class="attachment-wntr-small-thumb size-wntr-small-thumb wp-post-image" alt="" decoding="async" /></noscript>										</span>
                   
					<span class="recent-post-detail">
                  <a href="https://themes.workdo.io/wordpress/toaster/books/learn-once-read-everywhere/">Learn Once, Read Everywhere</a>
                                    <span class="post-date">May 27, 2023</span>
                                </span>
                </li>
                            <li>
                	<span class="recent-posts-thumbnail"> 
	                <img width="330" height="200" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20330%20200'%3E%3C/svg%3E" class="attachment-wntr-small-thumb size-wntr-small-thumb wp-post-image" alt="" decoding="async" data-lazy-src="https://themes.workdo.io/wordpress/toaster/books/wp-content/uploads/2023/02/1-330x200.jpg" /><noscript><img width="330" height="200" src="https://themes.workdo.io/wordpress/toaster/books/wp-content/uploads/2023/02/1-330x200.jpg" class="attachment-wntr-small-thumb size-wntr-small-thumb wp-post-image" alt="" decoding="async" /></noscript>										</span>
                   
					<span class="recent-post-detail">
                  <a href="https://themes.workdo.io/wordpress/toaster/books/fantasy-in-words-and-pages/">Fantasy In Words And Pages</a>
                                    <span class="post-date">May 27, 2023</span>
                                </span>
                </li>
                        </ul>
            </aside>                        </div>
        <!-- #primary-sidebar -->
        </div>
<!-- #secondary -->  
</div><!-- #main-content -->
<div class="home_last"></div>
</div><!-- .main-content-inner -->
</div><!-- .main_inner -->
</div><!-- #main -->
{% endblock content %}
