<footer id="colophon" class="site-footer">
	<div class="footer-middle">
		<div class="theme-container">
			<div id="footer-widget-area">
		<div id="first" class="first-widget footer-widget animated" data-animated="fadeInLeft">
		<aside id="text-2" class="widget widget_text">			<div class="textwidget">
<div class="wpcf7 no-js" id="wpcf7-f4520-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="{% url 'register' %}" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
{% csrf_token %}
	<div style="display: none;">
<input type="hidden" name="_wpcf7" value="4520" />
<input type="hidden" name="_wpcf7_version" value="5.7.7" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4520-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="newss__main">
	<div class="wb__newss">
		<div class="news_dec">
			<h2>Subscribe newsletter and<span>get -20% off</span>
			</h2>
			<p class="news_content">Reading not only improves your vocabulary but also assists you in gaining a fresh perspective.
			</p>
		</div>
		<p class="subscribe"><span class="wpcf7-form-control-wrap" data-name="email-132"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Get email address..." value="" type="email" name="email-132" /></span><input type="submit" value="Subscribe" />
		</p>
	</div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
</div>
		</aside>	</div>
	<!-- #first .widget-area -->
			<div id="second" class="second-widget footer-widget animated" data-animated="fadeInLeft">
		<aside id="nav_menu-1" class="widget widget_nav_menu"><h3 class="widget-title">Shop</h3><div class="menu-footer-category-container"><ul id="menu-footer-category" class="menu"><li id="menu-item-6902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6902"><a href="{% url 'about' %}">About Us</a></li>
<li id="menu-item-4876" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4876"><a href="{% url 'faqs' %}">FAQ’s</a></li>
<li id="menu-item-4875" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4875"><a href="{% url 'contact' %}">Contact With Us</a></li>
<li id="menu-item-6870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6870"><a href="{% url 'refs' %}">Refund and Returns Policy</a></li>
</ul></div></aside>	</div>
	<!-- #second .widget-area -->
			<div id="third" class="third-widget footer-widget animated" data-animated="fadeInLeft">
		<aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="widget-title">Account</h3><div class="menu-footer-account-link-container"><ul id="menu-footer-account-link" class="menu"><li id="menu-item-7417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7417"><a href="{% url '404' %}">Orders</a></li>
<li id="menu-item-7210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7210"><a href="{% url 'checkout' %}">Checkout</a></li>
<li id="menu-item-7418" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7418"><a href="{% url '404' %}">Downloads</a></li>
<li id="menu-item-7419" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7419"><a href="{% url '404' %}">Account details</a></li>
</ul></div></aside>	</div>
	<!-- #third .widget-area -->
			<div id="fourth" class="fourth-widget footer-widget animated" data-animated="fadeInLeft">
		<aside id="followmewidget-1" class="widget widgets-follow-us"><h3 class="widget-title">Share</h3>	<div id="follow_us" class="follow-us ">	
	<ul class="toggle-block">
		
			<li>
							<a href="#" title="Facebook" class="facebook icon"><i class="fa fa-facebook"></i></a>
										<a href="#" title="Twitter" class="twitter icon"><i class="fa fa-twitter"></i></a>
				
							<a href="#" title="Linkedin" class="linkedin icon"><i class="fa fa-linkedin"></i></a>
										
							<a href="#" title="Pinterest" class="pinterest icon"><i class="fa fa-pinterest"></i></a>
													
				
			</li>
		
	</ul>
	</div>

</aside>	</div>
	<!-- #fourth .widget-area -->
		
</div>			
		</div>
	</div>
	<div class="footer-bottom">
		<div class="theme-container">
			<div class="footer-bottom-left">
				<div class="site-info">   Designed by <a href="#" title="Books WorkDo" rel="home">Demo Theme					</a>
					All rights reserved.									</div>
			</div>
		</div>
	</div>
</footer>
<!-- #colophon -->
</div>

<div class="backtotop"> 
    <a style="display: none;" id="to_top" href="#">Top</a></div>
    
<script>
    window.RS_MODULES = window.RS_MODULES || {};
    window.RS_MODULES.modules = window.RS_MODULES.modules || {};
    window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
    window.RS_MODULES.defered = true;
    window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
    window.RS_MODULES.type = 'compiled';
</script>
        <div class="overlay" id="mainoverlayDiv" ></div> 

<div class="mydiv" id='formFormEmail' style="display:none" >
   <div class="container_n">

     <form id="newsletter_signup" name="newsletter_signup">


        <div class="header">
            <div class="AjaxLoader"><img src="https://themes.workdo.io/wordpress/toaster/books/wp-content/plugins/email-subscribe/images/AjaxLoader.gif"/>Please wait...</div>
            <div id="myerror_msg" class="myerror_msg"></div>
            <div id="mysuccess_msg" class="mysuccess_msg"></div>

            <h3>Subscribe to our newsletter</h3>

            <div class="subheading">Want to be notified when our article is published? Enter your email address and name below to be the first to know.</div>

        </div>

        <div class="sep"></div>

        <div class="inputs">

           <input type="email" class="textfield"  onblur="restoreInput(this,'Email')" onfocus="return clearInput(this,'Email');"  value="Email" name="youremail" id="youremail"  />
           <div style="clear:both"></div>
           <div class="errorinput"></div>
                               <input type="text" class="textfield" id="yourname" onblur="restoreInput(this,'Name')" onfocus="return clearInput(this,'Name');"  value="Name" name="yourname" />
            <div style="clear:both"></div>
            <div class="errorinput"></div>
                                        <a id="submit_newsletter"  onclick="submit_newsletter();" name="submit_newsletter">SIGN UP FOR NEWSLETTER NOW</a>

    </div>

</form>

</div>      
</div> 